@import 'partials/base';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @media #{$desktop-up} {
        width: 1200px;
    }
}

/*nawigacja*/


.navbar {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 100;
    @media #{$desktop-up} {
        padding: 0 165px;
    }
}


/* banner */

#banner {
    padding-bottom: 45px;
    @include gradient("../images/banner-background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    @media #{$desktop-up} {
        height: 1000px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: inherit;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 20%;
    height: 20px;
    border-radius: 0;
    color:#fff;
    opacity: 1;
    background: transparent;
    border-top: 5px solid #fff;
    text-align: left;
    font-size: 10px;
    @media #{$desktop-up} {
        line-height: 28px;
        font-size: 24px;
    }
}

.swiper-pagination-bullet-active {
    color: #f38181;
    border-top: 5px solid #f38181;
}

/* what-we-do */

#what-we-do {
    text-align: center;
    padding-top: 45px;
    h2 {

    }

    h3 {
        text-transform: uppercase;
        padding-top: 24px;

        
    }
    hr {
        border-bottom: 5px solid #f38181;
        width: 60px;
        margin: 40px auto;
    }

    .what-we-do-images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
        

        .image-1 {
            background: url('../images/what-we-do/first-image.png');
            &:hover {
                @include gradient('../images/what-we-do/first-image.png');
            }
        }

        .image-2 {
            background: url('../images/what-we-do/second-image.png');
            &:hover {
                @include gradient('../images/what-we-do/second-image.png');
            }
        }

        .image-3 {
            background: url('../images/what-we-do/third-image.png');
            &:hover {
                @include gradient('../images/what-we-do/third-image.png');
            }
        }

        [class*="image-"] {
            margin: 5px 0;
            width: 320px;
            height: 216px;

            @media #{$desktop-up} {
                margin: 0 20px;
            }

            &:hover {
                @include box-shadow;
            }

            img {
                width: 100%;
            }
        }
    }

}